html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Quite Chocolatey";
  src: url("../fonts/Quite-Chocolately/subset-QuiteChocolatey.eot");
  src: url("../fonts/Quite-Chocolately/subset-QuiteChocolatey.eot?#iefix") format("embedded-opentype"), url("../fonts/Quite-Chocolately/subset-QuiteChocolatey.woff2") format("woff2"), url("../fonts/Quite-Chocolately/subset-QuiteChocolatey.woff") format("woff"), url("../fonts/Quite-Chocolately/subset-QuiteChocolatey.ttf") format("truetype"), url("../fonts/Quite-Chocolately/subset-QuiteChocolatey.svg#QuiteChocolatey") format("svg");
  font-weight: normal;
  font-style: normal;
}
.item-text-04::before, .item-text-03::before, .item-text-02::before, .item-text-01::before {
  content: "";
  display: block;
  width: 180px;
  height: 188px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* GENERAL */
.content-frame {
  max-width: 1010px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

/* HEADER */
.header {
  background-image: url(../img/header-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  background: rgba(227, 213, 184, 0.5);
  background-size: cover;
  padding-bottom: 130px;
}

/* HEADER - Topbar */
.header__topbar {
  display: flex;
  margin: auto;
  padding: 38px 0;
}

.logo-box {
  transition: all 0.5s ease;
}

.logo-box:hover {
  transform: scale(1.2);
}

.menu-box {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.menu {
  display: flex;
}

.menu-item {
  margin-left: 15px;
}

.menu-item__link {
  padding: 11px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.36;
  text-transform: uppercase;
  text-decoration: none;
  color: #161616;
}

.menu-item__link:hover {
  color: #ffffff;
  background-color: #d03958;
}

.header-content {
  display: flex;
  position: relative;
}

.content-desc {
  display: flex;
  flex-direction: column;
  width: 493px;
  margin-top: 130px;
}

.content-desc-title {
  font-family: Montserrat;
  font-size: 90px;
  font-weight: 700;
  letter-spacing: -1.8px;
  text-transform: uppercase;
  color: #161616;
}

.span {
  color: #d03958;
}

.content-desc-text {
  margin-top: 47px;
  font-family: "PT Serif";
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.4px;
  color: #161616;
  line-height: 28px;
}

.form-box {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  width: 400px;
  min-height: 520px;
  background-color: #d03958;
  padding: 33px 24px 28px 24px;
  text-align: center;
  border-radius: 10px;
  position: absolute;
  top: 150px;
  left: 600px;
}

.form-title {
  font-family: Monserrat;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: -0.44;
  text-transform: uppercase;
  color: #ffffff;
}

.form-input {
  width: 350px;
  height: 57px;
  padding: 19px 0 19px 19px;
  margin-bottom: 16px;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: all 0.3s ease;
  font-family: "PT Serif";
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.4px;
  color: #b5b5b5;
}

.form-input:first-child {
  margin-top: 37px;
}

.form-input:hover {
  background-color: #e2ca98;
}

.form-input:focus {
  background-color: #e3d5b8;
}

.checkbox-section {
  display: flex;
  padding-left: 2px;
}

.checkbox-box {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 2px;
  justify-content: center;
}

.form-checkbox {
  position: absolute;
  margin: 0;
  width: 19px;
  height: 19px;
  opacity: 0;
  cursor: pointer;
}

.form-checkbox-fake {
  width: 19px;
  height: 19px;
  border-radius: 3px;
  background-color: #ffffff;
}

.form-checkbox:checked + .form-checkbox-fake {
  background-image: url(../img/checkmark.png);
  background-repeat: no-repeat;
  background-size: 19px;
  background-position: -0.5px 1px;
}

.form-checkbox-label {
  display: block;
  width: 300px;
  margin-left: 13px;
  font-family: "PT Serif";
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.4px;
  color: #ffffff;
}

.form-button {
  width: 350px;
  height: 57px;
  margin-top: 20px;
  font-family: Montserrat;
  border: none;
  border-radius: 5px;
  outline: none;
  transition: all 0.3s ease;
  background-color: #161616;
  cursor: pointer;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: -0.44px;
  text-transform: uppercase;
  color: #ffffff;
}

.form-button:hover {
  color: #d03958;
  background-color: #e3d5b8;
}

.services {
  padding-top: 40px;
}

.title-box {
  display: flex;
  flex-direction: flex-start;
}

.title {
  font-family: Montserrat;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: #161616;
}

.span {
  color: #d03958;
}

.services-item-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 72px;
}

.item {
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 97px;
}

.item-text {
  font-family: "PT Serif";
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.4;
  color: #161616;
  line-height: 28px;
  padding: 0 10px 10px 10px;
}

.item-link {
  text-decoration: none;
  transition: all 0.2s ease;
}

.item-link:hover {
  transform: scale(1.1);
  background-color: #d03958;
  border-radius: 10px;
}

.item-link:hover .item-text {
  color: #ffffff;
}

.item-text-01::before {
  background-image: url(../img/services-img-01.png);
  background-position: 8px 15px;
}

.item-text-02::before {
  background-image: url(../img/services-img-02.png);
  background-position: 20px 15px;
}

.item-text-03::before {
  background-image: url(../img/services-img-03.png);
  background-position: 30px 15px;
}

.item-text-04::before {
  background-image: url(../img/services-img-04.png);
  background-position: 15px 15px;
}

.story-box {
  background-color: #d03958;
  padding: 34px 0 28px 0;
}

.content-frame-flex {
  display: flex;
}

.story-text-box {
  display: flex;
  align-items: center;
  text-align: left;
  flex-basis: 600px;
  flex-grow: 2;
}

.story-text {
  font-family: "PT Serif";
  line-height: 28px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.4px;
  color: #ffffff;
}

.story-link-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-basis: 300px;
  flex-grow: 1;
}

.story-link {
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: -0.44px;
  text-transform: uppercase;
  text-decoration: none;
  color: #161616;
  padding: 24px 76px 24px 66px;
  background-color: #e3d5b8;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.story-link:hover {
  color: #d03958;
  background-color: #ffffff;
}

.price {
  background-color: #e3d5b8;
  padding-top: 60px;
}

.title-box {
  text-align: center;
}

.title {
  font-family: Montserrat;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: #161616;
}

.price-item-box {
  display: flex;
  justify-content: space-between;
  margin-top: 57px;
}

.price-item {
  display: flex;
  flex-direction: column;
  width: 320px;
  text-align: center;
  padding-top: 35px;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.corner {
  width: 150px;
  height: 150px;
  background-color: #b4a993;
  position: absolute;
  top: -75px;
  left: -75px;
  transform: rotate(-45deg);
}

.corner-text {
  margin-top: 80%;
  font-family: "PT Serif";
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.32px;
  color: #161616;
}

.price-title {
  font-family: "PT Serif";
  font-size: 22px;
  font-weight: 400;
  letter-spacing: -0.44px;
  color: #161616;
}

.price-figures {
  margin-top: 41px;
  font-family: Montserrat;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: -1.2px;
  text-transform: uppercase;
  color: #d03958;
}

.price-desc {
  margin-top: 12px;
  font-family: "PT Serif";
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.4px;
  color: #161616;
}

.price-desc:first-child {
  margin-top: 33px;
}

.price-link-box {
  margin: 60px auto 20px auto;
}

.price-link {
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: -0.44;
  text-transform: uppercase;
  text-decoration: none;
  color: #161616;
  padding: 18px 45px;
  background-color: #e3d5b8;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.price-link-try {
  padding: 18px 75px;
}

.price-link:hover {
  color: #ffffff;
  background-color: #d03958;
}

.testimonial-gallery {
  padding: 154px 0 100px 0;
}

.content-frame-flex {
  display: flex;
}

.testimonial {
  margin-right: 145px;
}

.testimonial-title-box {
  text-align: center;
}

.title {
  font-family: Montserrat;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: #161616;
}

.testimonial-card-box {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  width: 440px;
  position: relative;
  margin-bottom: 40px;
}

.testimonial-link {
  text-decoration: none;
  padding: 26px 77px 26px 26px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.testimonial-link:hover {
  background: #e3d5b8;
}

.testimonial-quote {
  font-family: "PT Serif";
  line-height: 28px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.4px;
  color: #161616;
}

.testimonial-author {
  margin-top: 20px;
  font-family: Montserrat;
  line-height: 28px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.4px;
  color: #d03958;
}

.testimonial-card-photo-box {
  position: absolute;
  top: 26px;
  right: -55px;
}

.testimonial-card-photo {
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.testimonial-card-photo-box-02 {
  top: 26px;
}

.gallery {
  margin-left: auto;
}

.gallery-title-box {
  text-align: center;
}

.title {
  font-family: Montserrat;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: #d03958;
}

.gallery-photo-box {
  display: flex;
  flex-wrap: wrap;
  margin-top: 86px;
  justify-content: flex-end;
}

.gallery-photo-link {
  margin: 0 40px 28px 0;
}

.gallery-photo {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 50%;
}

.gallery-photo-link:nth-child(3) {
  margin-right: 0;
}

.gallery-photo-link:nth-child(6) {
  margin-right: 0;
}

.gallery-link-box {
  text-align: center;
  margin-top: 30px;
}

.gallery-link {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.4px;
  text-transform: uppercase;
  text-decoration: underline;
  color: #d03958;
  transition: all 0.3s ease;
}

.gallery-link:hover {
  color: #161616;
}

.footer {
  background-color: #161616;
  padding: 60px 0;
}

.content-frame-flex {
  display: flex;
}

.rights-box {
  display: flex;
  align-items: center;
}

.rights {
  font-family: "PT Serif";
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.4px;
  color: #ffffff;
}

.rights-red {
  color: #d03958;
}

.logo-box {
  display: flex;
  align-items: center;
  margin-left: auto;
}

@media (max-width: 1024px) {
  .overlay {
    padding: 0 10px 20px 10px;
  }

  .header-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .form-box {
    position: static;
    margin: 40px 0;
  }

  .content-desc {
    margin-top: 40px;
  }

  .title-box {
    justify-content: center;
  }

  .services-item-box {
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
  }

  .item {
    width: 300px;
    margin-top: 30px;
  }

  .item-text-01::before,
.item-text-02::before,
.item-text-03::before,
.item-text-04::before {
    margin: auto;
  }

  .story-box {
    padding: 30px 10px;
    margin-top: 20px;
  }

  .story-text-box {
    flex-basis: 400px;
  }
}
@media (max-width: 767px) {
  .header__topbar {
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
  }

  .menu-box {
    margin-left: 0;
    margin-top: 20px;
  }

  .menu {
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
  }

  .menu-item {
    margin-bottom: 15px;
  }

  .content-desc {
    width: 90%;
    margin-top: 20px;
  }

  .content-desc-title {
    font-size: 40px;
  }

  .form-box {
    width: 100%;
    padding: 20px 10px;
    min-height: 460px;
  }

  .form-input,
.form-button {
    width: 100%;
  }

  .form-input:first-child {
    margin-top: 16px;
  }

  .form-checkbox-label {
    font-size: 18px;
  }

  .content-frame-story {
    flex-direction: column;
    align-items: center;
  }

  .story-text-box,
.story-link-box {
    flex-basis: 0;
  }

  .story-link-box {
    margin-top: 20px;
  }
}

/*# sourceMappingURL=index.css.map */
