@font-face {
    font-family: 'Quite Chocolatey';
    src: url('../fonts/Quite-Chocolately/subset-QuiteChocolatey.eot');
    src: url('../fonts/Quite-Chocolately/subset-QuiteChocolatey.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Quite-Chocolately/subset-QuiteChocolatey.woff2') format('woff2'),
        url('../fonts/Quite-Chocolately/subset-QuiteChocolatey.woff') format('woff'),
        url('../fonts/Quite-Chocolately/subset-QuiteChocolatey.ttf') format('truetype'),
        url('../fonts/Quite-Chocolately/subset-QuiteChocolatey.svg#QuiteChocolatey') format('svg');
    font-weight: normal;
    font-style: normal;
}

