@import "reset.scss";
@import "fonts.scss";
@import "variables.scss";
@import "mixins.scss";
@import "templates.scss";

/* GENERAL */
.content-frame {
    max-width: 1010px;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

/* HEADER */
.header {
    background-image: url(../img/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay {
    background: rgba(227, 213, 184, 0.5);
    background-size: cover;
    padding-bottom: 130px;
}

/* HEADER - Topbar */
.header__topbar {
    display: flex;
    margin: auto;
    padding: 38px 0;
}
//HEADER - Topbar - Logo
.logo-box {
    transition: all 0.5s ease;
}

.logo-box:hover {
    transform: scale(1.2);
}

//HEADER - Topbar - Menu
.menu-box {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.menu {
    display: flex;
}   

.menu-item {
    margin-left: 15px;
}

.menu-item__link {
    padding: 11px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
    font-family: Montserrat;
    @include link-style (18px, 400, -0.36, uppercase, none, $color-03);
}   

.menu-item__link:hover {
    color: $color-04;
    background-color: $color-01;                  
}

//HEADER - Content
.header-content {
    display: flex;
    position: relative;
}

.content-desc {
    display: flex;
    flex-direction: column;
    width: 493px;
    margin-top: 130px;
}

.content-desc-title {
    font-family: Montserrat;
    @include h2-style (90px, 700, -1.8px, uppercase, $color-03);
}

.span {
    color: $color-01;
}

.content-desc-text {
    margin-top: 47px;
    font-family: "PT Serif";
    @include text-style (20px, 400, -0.4px, $color-03);
    line-height: 28px;
}

// Form
.form-box {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    width: 400px;
    min-height: 520px;
    background-color: $color-01;
    padding: 33px 24px 28px 24px;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    top: 150px;
    left: 600px;
}

.form-title {
    font-family: Monserrat;
    @include h2-style (22px, 400, -0.44, uppercase, $color-04);
}

.form-input {
    width: 350px;
    height: 57px;
    padding: 19px 0 19px 19px;
    margin-bottom: 16px;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: all 0.3s ease;

    font-family: "PT Serif";
    @include text-style (20px, 400, -0.4px, #b5b5b5);
}

.form-input:first-child {
     margin-top: 37px;
}

.form-input:hover {
    background-color: #e2ca98;
}

.form-input:focus {
    background-color: #e3d5b8;
}

.checkbox-section {
    display: flex;
    padding-left: 2px;
}

.checkbox-box {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 2px;
    justify-content: center;
}

.form-checkbox {
    position: absolute;
    margin: 0;
    width: 19px;
    height: 19px;
    opacity: 0;
    cursor: pointer;
}

.form-checkbox-fake {
    width: 19px;    
    height: 19px;
    border-radius: 3px;
    background-color: #ffffff;              
}

.form-checkbox:checked + .form-checkbox-fake {
    background-image: url(../img/checkmark.png);
    background-repeat: no-repeat;
    background-size: 19px;
    background-position: -0.5px 1px;
}

.form-checkbox-label {
    display: block;
    width: 300px;
    margin-left: 13px;
    font-family: "PT Serif";
    cursor: pointer;
    @include text-style (20px, 400, -0.4px, $color-04);
}

        
.form-button {
    width: 350px;
    height: 57px;
    margin-top: 20px;
    font-family: Montserrat;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s ease;
    background-color: $color-03;
    cursor: pointer;
    @include h2-style (22px, 400, -0.44px, uppercase, $color-04);
}

.form-button:hover {
    color: $color-01;
    background-color: $color-02;
}

// MAIN
// MAIN - Services
.services {
    padding-top: 40px;
}

.title-box {
    display: flex;
    flex-direction: flex-start;
}

.title {
    font-family: Montserrat;
    @include h2-style (50px, 700, -1px, uppercase, $color-03);
}    

.span {
    color: $color-01;
}

// SERVICES - Items
.services-item-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 72px;
}

.item {
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 97px;
}

.item-text {
    font-family: "PT Serif";
    @include text-style (20px, 400, -0.4, $color-03);
    line-height: 28px;
    padding: 0 10px 10px 10px;
}

.item-link {
    text-decoration: none;
    transition: all 0.2s ease;
}
            
.item-link:hover {
    transform: scale(1.1);
    background-color: $color-01;
    border-radius: 10px;
}

.item-link:hover .item-text {
    color: $color-04;
}

.item-text-01::before {
    @extend %item-text-before;
    background-image: url(../img/services-img-01.png);
    background-position: 8px 15px;
} 

.item-text-02::before {
    @extend %item-text-before;
    background-image: url(../img/services-img-02.png);
    background-position: 20px 15px;
}

.item-text-03::before {
    @extend %item-text-before;
    background-image: url(../img/services-img-03.png);
    background-position: 30px 15px;
}

.item-text-04::before {
    @extend %item-text-before;
    background-image: url(../img/services-img-04.png);
    background-position: 15px 15px;
}

.story-box {
    background-color: $color-01;
    padding: 34px 0 28px 0;
}

.content-frame-flex {
    display: flex;
}

.story-text-box {
    display: flex;
    align-items: center;
    text-align: left;
    flex-basis: 600px;
    flex-grow: 2;
}

.story-text {
    font-family: "PT Serif";
    line-height: 28px;
    @include text-style (20px, 400, -0.4px, $color-04);
}

.story-link-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 300px;
    flex-grow: 1;
}      

.story-link {
    font-family: Montserrat;
    @include link-style (22px, 400, -0.44px, uppercase, none, $color-03);
    padding: 24px 76px 24px 66px;
    background-color: $color-02;
    border-radius: 5px; 
    transition: all 0.3s ease;
}

.story-link:hover {
    color: $color-01;
    background-color: $color-04;
}

// MAIN - Price
.price {
    background-color: $color-02;
    padding-top: 60px;
}

.title-box {
    text-align: center;
}

.title {
    font-family: Montserrat;
    @include h2-style (50px, 700, -1px, uppercase, $color-03);
}

.price-item-box {
    display: flex;
    justify-content: space-between;
    margin-top: 57px;
}

.price-item {
    display: flex;
    flex-direction: column;
    width: 320px;
    text-align: center;
    padding-top: 35px;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}   

.corner {
    width: 150px;
    height: 150px;
    background-color: #b4a993;
    position: absolute;
    top: -75px;
    left: -75px;
    transform: rotate(-45deg);
}       

.corner-text {
    margin-top: 80%;
    font-family: "PT Serif";
    @include text-style (20px, 400, -0.32px, $color-03);
}

.price-title {
    font-family: "PT Serif";
    @include text-style (22px, 400, -0.44px, $color-03);
}

.price-figures {
    margin-top: 41px;
    font-family: Montserrat;
    @include h2-style (60px, 700, -1.2px, uppercase, $color-01);
}

.price-desc {
    margin-top: 12px;
    font-family: "PT Serif";
    @include text-style (20px, 400, -0.4px, $color-03);
}

.price-desc:first-child {
    margin-top: 33px;
}

.price-link-box {
    margin: 60px auto 20px auto;
}

.price-link {
    font-family: Montserrat;
    @include link-style (22px, 400, -0.44, uppercase, none, $color-03);
    padding: 18px 45px;
    background-color: $color-02;   
    border-radius: 5px;   
    transition: all 0.3s ease;              
}

.price-link-try {
    padding: 18px 75px;   
}

.price-link:hover {
    color: $color-04;
    background-color: $color-01;
}

// MAIN - Testimonial and Gallery
.testimonial-gallery {
    padding: 154px 0 100px 0;
}

.content-frame-flex {
    display: flex;
}

.testimonial {
    margin-right: 145px;
}

.testimonial-title-box {
    text-align: center;
}

.title {
    font-family: Montserrat;
    @include h2-style (50px, 700, -1px, uppercase, $color-03);
}    

.testimonial-card-box {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}

.testimonial-card {
    display: flex;
    flex-direction: column;
    width: 440px;
    position: relative;
    margin-bottom: 40px;
}

.testimonial-link {
    text-decoration: none;
    padding: 26px 77px 26px 26px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.testimonial-link:hover {
    background: $color-02;
}

.testimonial-quote {
    font-family: "PT Serif";
    line-height: 28px;
    @include text-style (20px, 400, -0.4px, $color-03);
}

.testimonial-author {
    margin-top: 20px;
    font-family: Montserrat;
    line-height: 28px;
    @include text-style (20px, 400, -0.4px, $color-01);
}

.testimonial-card-photo-box {
    position: absolute;
    top: 26px;
    right: -55px;
}

.testimonial-card-photo {
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.testimonial-card-photo-box-02 {
    top: 26px;
}

// Gallery
.gallery {
    margin-left: auto;
}

.gallery-title-box {
    text-align: center;
}

.title {
    font-family: Montserrat;
    @include h2-style (50px, 700, -1px, uppercase, $color-01);
}

.gallery-photo-box {
    display: flex;
    flex-wrap: wrap;
    margin-top: 86px;
    justify-content: flex-end;  
}

.gallery-photo-link {
    margin: 0 40px 28px 0;
}

.gallery-photo {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 50%;
}

.gallery-photo-link:nth-child(3) {
    margin-right: 0;
}

.gallery-photo-link:nth-child(6) {
    margin-right: 0;
}

.gallery-link-box {
    text-align: center;
    margin-top: 30px;
}

.gallery-link {
    font-family: Montserrat;
    @include link-style (20px, 400, -0.4px, uppercase, underline, $color-01);
    transition: all 0.3s ease;
}

.gallery-link:hover {
    color: $color-03;
}

// FOOTER
.footer {
    background-color: $color-03;
    padding: 60px 0;
}

.content-frame-flex {
    display: flex;
}

.content-frame-footer {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.rights-box {
    display: flex;
    align-items: center;
}

.rights {
    font-family: "PT Serif";
    @include text-style (20px, 400, -0.4px, $color-04);
}

.rights-red {
    color: $color-01;
}

.logo-box {
    display: flex;
    align-items: center;
}

.logo-box-footer {
    margin-left: auto;
}

// MEDIA
@media (max-width: 1024px) {
    // Header
    .overlay {
        padding: 0 10px 20px 10px;
    }

    .logo-box {
        margin: 0;
    }

    .header-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .form-box {
        position: static;
        margin: 40px 0;
    }

    .content-desc {
        margin-top: 40px;
    }

    // Services
    .title-box {
        justify-content: center;
    }

    .services-item-box {
        flex-wrap: wrap;
        justify-content: center;
        width: 80%;
        margin: 0 auto;
    }

    .item {
        width: 300px;
        margin-top: 30px;
    }

    .item-text-01::before,
    .item-text-02::before,
    .item-text-03::before,
    .item-text-04::before {
        margin: auto;
    }

    .story-box {
        padding: 30px 10px;
        margin-top: 20px;
    }

    .story-text-box {
        flex-basis: 400px;
    }

    // Price
    .price-item-box {
        flex-direction: column;
        align-items: center;
    }

    .price-item {
        padding: 35px 0;
        margin-bottom: 15px;
    }

    // Testimonial and Gallery
    .testimonial-gallery {
        padding: 50px 0;
    }

    .testimonial {
        margin-right: 0;
    }

    .content-frame-testimonial {
        flex-direction: column;
    }

    .testimonial-card-box {
        align-items: center;
    }

    .testimonial-card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .testimonial-link {
        order: 2;
        text-align: center;
        padding: 26px;
    }

    .testimonial-card-photo-box {
        position: static;
        order: 1;
    }

    .gallery {
        margin-left: 0;
    }

    .gallery-photo-box {
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 50px;
    }

    .gallery-photo-link {
        text-align: center;
        margin: 0 0 30px 0;
        width: 200px;
    }
}

@media (max-width: 767px) {
    // Header
    .header__topbar {
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
    }

    .logo-box {
        margin: 0;
    }

    .menu-box {
        margin-left: 0;
        margin-top: 20px;
    }
    .menu {
        flex-direction: column;
        align-items: center;
        margin-top: 25px;
    }

    .menu-item {
        margin-bottom: 15px;
    }

    .content-desc {
        width: 90%;
        margin-top: 20px;
    }

    .content-desc-title {
        font-size: 40px;
    }

    .form-box {
        width: 100%;
        padding: 20px 10px;
        min-height: 460px;
    }

    .form-input,
    .form-button {
        width: 100%;
    }

    .form-input:first-child {
        margin-top: 16px;
    }

    .form-checkbox-label {
        font-size: 18px;
    }

    // Services
    .content-frame-story {
        flex-direction: column;
        align-items: center;
    }

    .story-text-box,
    .story-link-box {
        flex-basis: 0;
    }

    .story-link-box {
        margin-top: 20px;
    }

    // Testimonial and Gallery
    .testimonial-title {
        font-size: 40px;
    }

    .testimonial-card {
        width: 100%;
    }

    // Footer
    .footer {
        padding: 25px 0;
    }
    .content-frame-footer {
        flex-direction: column;
        align-items: center;
    }

    .rights-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .rights {
        line-height: 25px;
    }
    .logo-box-footer {
        margin-top: 20px;
    }
}