@import "reset.scss";
@import "fonts.scss";
@import "variables.scss";
@import "mixins.scss";

/* GENERAL */
.content-frame {
    max-width: 1010px;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

/* HEADER */
.header {
    background-image: url(../img/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 130px;
}

/* HEADER - Topbar */
.header__topbar {
    display: flex;
    margin: auto;
    padding: 38px 0;

    //HEADER - Topbar - Logo
    .logo-box {
        transition: all 0.5s ease;
    }

    .logo-box:hover {
        transform: scale(1.2);
    }

    .logo__link {
        font-family: 'Quite Chocolatey';
        @include link-style (88px, 400, -1.2px, normal, none, $color-01);
    }

    //HEADER - Topbar - Menu
    .menu-box{
        display: flex;
        margin-left: auto;
        align-items: center;
    }

    .menu {
        display: flex;

        .menu-item {
            margin-left: 15px;

            .menu-item__link {
                padding: 11px 15px;
                border-radius: 5px;
                transition: all 0.3s ease;
                font-family: Montserrat;
                @include link-style (18px, 400, -0.36, uppercase, none, $color-03);
                
                &:hover {
                    color: $color-04;
                    background-color: $color-01;                  
                }
            }
            
        }
    }
}

//HEADER - Content
.header-content {
    display: flex;
    position: relative;

    .content-desc {
        display: flex;
        flex-direction: column;
        width: 493px;
        margin-top: 130px;

        &-title {
            font-family: Montserrat;
            @include h2-style (90px, 700, -1.8px, uppercase, $color-03);
            
            .span {
                color: $color-01;
            }
        }

        &-text {
            margin-top: 47px;
            font-family: "PT Serif";
            @include text-style (20px, 400, -0.4px, $color-03);
            line-height: 28px;
        }
    }

    .form-box {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        width: 400px;
        min-height: 520px;
        background-color: $color-01;
        padding: 33px 24px 28px 24px;
        text-align: center;
        border-radius: 10px;
        position: absolute;
        top: 150px;
        left: 600px;

        .form-title {
            font-family: Monserrat;
            @include h2-style (22px, 400, -0.44, uppercase, $color-04);
        }

        .form-input {
            width: 350px;
            height: 57px;
            padding: 19px 0 19px 19px;
            margin-bottom: 16px;
            border-radius: 5px;
            border: none;
            outline: none;
            transition: all 0.3s ease;
        }

        .form-input:first-child {
            margin-top: 37px;
        }

        .form-input:hover {
            background-color: #e2ca98;
        }

        .form-input:focus {
            background-color: #e3d5b8;
        }

        .checkbox-section {
            display: flex;
            padding-left: 2px;
        }

            .checkbox-box {
                display: flex;
                flex-direction: column;
                position: relative;
                padding-left: 2px;
                justify-content: center;
            }
            .form-checkbox {
                position: absolute;
                margin: 0;
                width: 19px;
                height: 19px;
                opacity: 0;
                cursor: pointer;
            }

            .form-checkbox-fake {
                width: 19px;    
                height: 19px;
                border-radius: 3px;
                background-color: #ffffff;              
            }
            .form-checkbox:checked + .form-checkbox-fake {
                background-image: url(../img/checkmark.png);
                background-repeat: no-repeat;
                background-size: 19px;
                background-position: -0.5px 1px;
            }

            .form-checkbox-label {
                display: block;
                width: 300px;
                margin-left: 13px;
                font-family: "PT Serif";
                cursor: pointer;
                @include text-style (20px, 400, -0.4px, $color-04);
            }

        
        .form-button {
            width: 350px;
            height: 57px;
            margin-top: 20px;
            font-family: Montserrat;
            border: none;
            border-radius: 5px;
            outline: none;
            transition: all 0.3s ease;
            background-color: $color-03;
            cursor: pointer;
            @include h2-style (22px, 400, -0.44px, uppercase, $color-04);

            &:hover {
                color: $color-01;
                background-color: $color-02;
            }
        }
    }

}



